boto3==1.38.30
botocore==1.38.30
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
idna==3.10
jmespath==1.0.1
nodeenv==1.9.1
platformdirs==4.3.8
pre_commit==4.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-nmap==0.7.1
PyYAML==6.0.2
requests==2.32.3
s3transfer==0.13.0
six==1.17.0
urllib3==2.3.0
virtualenv==20.31.2
